@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.container {
  @include mobile-container;
  padding-top: 24px;
  padding-bottom: 80px;
}

.title {
  font-size: 1.1rem;
  margin-bottom: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
